<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ctx="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!-- Tomcat JDBC Connection -->
  <bean id="poolProperties" class="org.apache.tomcat.jdbc.pool.PoolProperties">
    <property name="url" value="jdbc:postgresql://localhost:5432/postgres" />
    <property name="driverClassName" value="org.postgresql.Driver" />
    <property name="username" value="postgres" />
    <property name="password" value="postgres" />
    <property name="validationQuery" value="SELECT 1" />
    <property name="maxActive" value="10" />
    <property name="initialSize" value="5" />
  </bean>

  <bean id="ds_postgresql" class="org.apache.tomcat.jdbc.pool.DataSource">
    <property name="poolProperties" ref="poolProperties" />
  </bean>

  <!-- spring transaction manager -->
  <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource" ref="ds_postgresql"/>
  </bean>
</beans>